<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="ProcFlags" value="devenv;Microsoft.ServiceHub;ServiceHub;WebViewHost;PerfWatson2;WebViewHost;msedgewebview2;MSBuild"/>
  </appSettings>
</configuration>